alembic
asgiref
attrs
certifi
cffi
charset-normalizer
click
cryptography
Django
django-colorfield
djantic
dnspython
ecdsa
email-validator
Faker
fastapi
FastAPI-SQLAlchemy
Flask
Flask-MySQLdb
Flask-RESTful
greenlet
h11
idna
inflect
iniconfig
itsdangerous
Jinja2
Mako
Markdown
MarkupSafe
mch-api @ git+https://github.com/opencdms/mch-api.git@main
mysqlclient
numpy
opencdms @ git+https://github.com/opencdms/pyopencdms.git@main
climsoft_api @ git+https://github.com/opencdms/climsoft-api.git@main
packaging
pandas
passlib
pluggy
psycopg2
py
pyasn1
pycparser
pydantic
pyparsing
pytest
python-dateutil
python-editor
python-jose
python-multipart
pytz
requests
rsa
six
SQLAlchemy
sqlparse
starlette
text-unidecode
toml
typing-extensions
urllib3
uvicorn
Werkzeug
Flask-Cors
opencdms_process @ git+https://github.com/opencdms/opencdms-process.git@main
