Babel
click
cryptography
Django
django-colorfield
djantic
email-validator
fastapi
Flask-Cors
Faker
Flask
Flask-MySQLdb
FastAPI-SQLAlchemy
Flask-RESTful
mch-api @ git+https://github.com/opencdms/mch-api.git@main
mysqlclient
numpy
opencdms @ git+https://github.com/opencdms/pyopencdms.git@main
climsoft_api @ git@https://github.com/openclimateinitiative/climsoft-api.git@main
psycopg2
pandas
pydantic
pyparsing
pytest
python-jose
python-editor
python-dateutil
rsa
python-multipart
pytz
SQLAlchemy
requests
urllib3
sqlparse
MarkupSafe==2.0.1
starlette
uvicorn
Werkzeug
opencdms_process @ git+https://github.com/opencdms/opencdms-process.git@main